body {
    max-width: 600px;
    margin: auto;
    font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
}

header {
    background-color: #6161FF;
    padding: 10px;
}

footer {
    background-color: #6161FF;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color:whitesmoke;
}

nav a:hover {
    border-bottom: 1px solid whitesmoke;
    text-decoration: overline;
    color: whitesmoke;
}

.main-title {
    text-align: center;
    color: rgba(36, 7, 7, 0.685);
    font-family: Arial, Helvetica, sans-serif;
}


.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}

.danger {
    background-color: rgb(216, 59, 59);
}


.bug-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.bug-preview {
    background-color: #333;
    color: whitesmoke;
    border-radius: .2em;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.bug-preview a {
    color: lightskyblue;
}

.bug-preview span {
    color: gold;
}

.footer-todos {
    display: flex;
    justify-content: space-between;
}

.todos-num {
    line-height: 3.4;
    margin: 0;
}

.entry-title{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
}

.logo-img{
    width:2.5em
}

.wensday-img{
    width:10em;
}

button{
    background-color: #6161FF;
}

.user-details{
    text-decoration: none;
    color: whitesmoke;
    font-family: Poppins, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}

.user-card-img{
    width:3em;
}

.user-card{
    display: flex;
    flex-direction: column;
}

.done{
    color: #555;
    text-decoration: line-through;
}

.not-done{
    text-decoration: none;
}

.user-pref{
    display: flex;
    gap: 1em;
    margin-top: 1em;
    background-color: rgb(198, 198, 198);
    justify-content: space-between;
}

.progress-bar {
    margin-left: 1em;
    margin-top: 1em;
}

.todo-actions{
    display: flex;
    gap: 1em;
}

.images{
    display: flex;
    gap: 1em;
}

.images img{
    width:4em;
}

.img-welcome{
    width:80%
}

.welcome{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}